<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Damen</a>
      <a class="nav-item nav-link" href="#">Herren</a>
      <a class="nav-item nav-link" href="#">Wohnen</a>
    </div>

</nav>
    <header>
        <h1 class="bg-light">Welcome to Stylight Coding Challenge</h1>
    </header>
    <h3>Numeral Conversion (Arabic - Roman)</h3>
    <form method="post" action="{{ url_for('operation_result') }}" id="numeral_conversion_form" style="text-align: center">
        <label for="Input1">Input1:</label>
        <input type="text" name="Input1" id="Input1" placeholder="Enter a value">
        <br/>
        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="A2R">Convert Arabic To Roman</option>
            <option value="R2A">Convert Roman To Arabic</option>
        </select>
        <br/>
        <input class="btn-submit" type="submit" value="Submit"/>
    </form>
<div style="text-align: center">
    {% if calculation_success == True %}
        <br/>
        <p>Result: {{result}}</p>
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <p>{{error}}</p>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>